@import url('../_reset.css');
/* Grid css */
.main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 230px minmax(400px,1fr) minmax(400px,1fr);
    gap: 15px;
    background-color: #ECECEC;
    padding-right: 20px;
}
.box-item{
    box-shadow: 5px 5px 5px  gray;
    padding: 10px;
    align-self:start;
    background-color: white;
    border-radius: 4px;
    margin: 10px;
}
/* 후보자 리스트 */

  .candidates{
    grid-row: 1/4;
    grid-column: 1/2;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 1px 1px 5px black;
    background-color: white;
  }
  /* 후보자 정보 */
  .candidate{
    display: flex;
    align-self: center;
    padding:30px;
  }
  /* 공약 리스트 */
  .promiseList{
    align-self: flex-start;
    grid-row: 3/4;
    grid-column: 2/3;
  }
  /* 연관뉴스 */
  .news{
    grid-row: 2/3;
    grid-column: 2/3;
  
  }
  /* 키워드 클라우드 */
  .wordCloud{
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .age{
    grid-row: 2/3;
    grid-column: 3/4;
  }
  @media screen and (max-width:1200px){
    
    .aboutCandidate{
      flex-direction: column;
      
    }
    .candidateInfos{
      width: 500px;
    }
    .candidateVisuals{
      width: 500px;
      margin-top: 12px;
    }
    .main{
      width: fit-content;
      margin:auto;
    }
  }
  
  .candidates .title{
    font-weight: 600;
    font-size: 20px;
    color: black;
  }
  .candidateInfo-enter{
    opacity: 0;
  }
  .candidateInfo-enter-active{
    opacity: 1;
    transition: all 300ms;
  }
  .nav-item{
    border-bottom: 1px solid;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
  }
  
  /* 후보자 관련 글 */
  

  .candidate img{
    height:170px;
    width: auto;
  }
  .candidate .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }
  
  .promiseList .title{
    width: 100%;
    display: flex;
    padding: 5px;
    border-bottom: 1px solid;
    justify-content: space-between;
    overflow: hidden;
  
  }
  .promisePossiblity{
    display: flex;
    align-items: center;
    margin: 0;
    background-color: rgba(24, 145, 226, 0.856);
    margin-left: 5px;
    height: 25px;
    font-size: 15px;
    border-radius: 5px;
    padding-left:5px; padding-right: 5px;
    color: white;
  }
  
  .promise-title{
    display: flex;
    justify-content: space-between;
    padding: 5px;
  
    border-bottom: 1px solid;
    overflow: hidden;
    text-overflow: ellipsis;    
    text-align: left;
  }
  .possiblity{
    background-color: rgba(24, 145, 226, 0.856);
    margin-left: 5px;
    padding: 2px;
    width: 35px;
    height: 25px;
    border-radius: 10%;
    font-size: 15px;
    color: white;
  }
  
  .promiseList button{
    border: none;
    background-color: white;
    color:grey;
    font-weight: 500;
  }
  
  
  .news h5{
    padding: 5px;
    border-bottom: 1px solid;
  }
  
  /* p 태그 넘어가는 부분 overflow */
  .news p{
    display: block;
    padding: 5px;
    border-bottom: 1px solid;
    overflow: hidden;
    text-overflow: ellipsis;    
    text-align: left;
  }
  .news button{
    border: none;
    background-color: white;
    color:grey;
    font-weight: 500;
  }
  
  /* 후보자 관련 시각자료 */
  
 
  .wordCloud h5{
    font-weight: 600;
    border-bottom: 1px solid;
    padding: 5px;
    margin: 0;
  }
  .wordCloud img{
    width: 100%;
  }
  
  
  .age h5{
    font-weight: 600;
    border-bottom: 1px solid;
    padding: 5px;
    margin: 0;
  }
  .age img{
    width: 100%;
  }
