@import url('../_reset.css');
/* Grid css */
.main{
  display: flex;
    background-color: #ECECEC;
}
.box-item{
    box-shadow: 5px 5px 5px  gray;
    background-color: white;
    border-radius: 4px;
    color: var(--theme-color);
    margin-bottom: 20px;
}
.box-title{
    background-color: var(--theme-color);
    border-top-left-radius: 4px;border-top-right-radius: 4px;  
    padding-top:10px;padding-bottom: 10px;
    
}
.box-item h5{
    font-family: var(--box-title-font);
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin: 0;

}


/* 후보자 리스트 */

  .candidates{
    width: 230px;
    min-width: 230px;
    height: max-content;
    padding: 20px;
    box-shadow: 1px 1px 5px black;
    background-color: white;
    
  }
  .contents{
    padding: 20px;
    display: flex;
    min-width: 950px;
    
  }
  .candidates .title{
      font-family: var(--list-title-font);
      font-size: 24px;
      border-bottom: 1px solid;
      padding: 20px;
      font-weight: 600;
      color: var(--theme-color);
    }
  /* 2/3 */

    .candidateInfo{
      display: flex;
      flex-direction: column;
      width: 30%;
      min-width: 300px;
      padding-right: 20px;

    }
  /* 후보자 정보 */
  .candidate{
    padding:30px;
  }
  .candidate h5{
      background-color: transparent;
      color: black;
  }
  /* 공약 리스트 */
  
  /* 연관뉴스 */
  .news-content{
    width: 45%;
    min-width: 350px;
    padding-right: 20px;
  }
  .news{
    

  
  }
  .candidateVisual{
    width: 30%;
    min-width: 300px;
    display:flex;
    flex-direction: column;
  }
  /* 키워드 클라우드 */
  .wordCloud{
  }
  .age{
  }
  
  
  /* .candidateInfo-enter{
    opacity: 0;
  }
  .candidateInfo-enter-active{
    opacity: 1;
    transition: all 300ms;
  } */
  .nav-item{
    border-bottom: 1px solid;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--list-item-font);
    font-size:16px;
    font-weight: 600;
  }
  
  /* 후보자 관련 글 */
  

  .candidate img{
    height:170px;
    width: auto;
  }
  .candidate .info{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  
  .promiseList .box-title{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;padding-right: 10px;
  }
  .promiseList .title{
      margin:auto;
  }
  .promisePossiblity{
    display: flex;
    align-items: center;
    width: fit-content;
    font-family: var(--menu-font);
    font-size: 14px;
    color: white;
  }
  
  .promise-title{
    display: flex;
    justify-content: space-between;
    padding: 7px;
  
    
  }
  .promise-content{
    width: 80%;
  }
  .promise-content p{
    overflow: hidden;
    text-overflow: ellipsis;    
    text-align: left;
    font-family: var(--menu-font);
  }
  .possiblity{
    width:40px;
    text-align: center;
    height: 25px;
    border-radius: 4px;
    color: var(--theme-color);
  }
  
  .promiseList button{
    border: none;
    background-color: white;
    color:var(--theme-color);
    font-weight: 600;
  }
  
  
 
  /* p 태그 넘어가는 부분 overflow */
  .news p{
    display: block;
    padding: 7px;
    overflow: hidden;
    text-overflow: ellipsis;    
    text-align: left;
  }
  .news button{
    border: none;
    background-color: white;
    color:var(--theme-color);
    font-weight: 600;
  }
  
  /* 후보자 관련 시각자료 */
  
  
  .wordCloud img{
    width: 100%;
    
  }
  
  .age img{
    width: 100%;
  }
