@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('../_reset.css');

/* .navbar-menu.container{
    width: 1160px;
} */
.navbar-menu{
    display: grid;
    /* grid-template-areas: "logo menu-list search"; */
    grid-template-columns: 230px minmax(550px,2fr) minmax(400px,1.5fr);
    align-items: center;
    background-color: #596885;
}

.logo-img{
    width: 80px;
}
.navbar-menu .logo{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    background-color: var(--theme-color);
    padding: 10px;
    box-shadow: 1px -1px 5px black;
    
}
.logo img{
    margin-left: 20px;
}
.logo h1{
    margin-top: 10px;
    font-size: 24px;
    color: white;
    font-family: var(--logo-font);
    font-weight:700;
}
.menu-list{
    justify-self: center;
    padding-right: 20px;padding-left: 20px;
}


.menu-items{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    margin:0;
    min-width: 600px;
    font-size: 20px;
    font-family: var(--menu-font);
    font-weight: 600;
    color:white;
}
.updown { width: 2px; height: 30px; background-color: white;}

.search{
    justify-content: center;
    display: flex;
    
}

.searchInput{
    width: 70%;
    min-width: 10px;

    padding: 0;
    border: none;
    border-radius: 4px;
    border-top-right-radius: 0;border-bottom-right-radius: 0;
    line-height: 38px;
}
.search button{
    color: white;
    border: 1px solid white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}
@media screen and (max-width:1320px) {
    .search{
        min-width: 300px;
        float: right;
    }
    
}