@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('../_reset.css');
.navbar{
    padding: 10px;
}
.navbar-menu.container{
    width: 1160px;
}
.navbar-menu{

}

.logo{
    width: 130px;
}
.navbar-menu .title{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}
.title h1{
    margin-top: 10px;
    font-size: 50px;
}
.navbar-menu .menu{
    
    min-width: 500px;
    font-size: 20px;
}
.search{
    min-width: 20px;
}

@media screen and (max-width:1320px) {
    .search{
        min-width: 300px;
        float: right;
    }
    
}