@import url(../_reset.css);

.NewsDetail{
    position: fixed;

    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    height: fit-content;
    width:60%;
    left: 20%;
    top:10%;
    font-family: var(--menu-font);
}

.NewsDetail .close{
    font-family: sans-serif;
    background-color:transparent;
    border: none;
    position: absolute;
    right: 30px;
    font-size: 30px;
    top: 20px;
}

.NewsDetail h1{
    margin-top: 50px;
    font-weight: bold;
}
.NewsDetail .title{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 30px;
}

.NewsDetail .news-etc{
    text-align: right;
    font-size: 16px;
}
.NewsDetail .content{
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 21px;
}