:root{
    /* font */
    --logo-font:  'Hahmlet', serif;
    --box-title-font:'Hahmlet', serif;
    --menu-font:'Hahmlet', serif;
    --list-title-font:'Hahmlet', serif;
    --list-item-font:'Hahmlet', serif;
    --normal-font:'Gothic A1', sans-serif;

    /* color */
    --theme-color:#2E3E58;
    --theme-color-light:#596885;
    --main-background-color:grey;
}

*{
    box-sizing: border-box;
}

body{
    margin:0;
}
p{
    margin: 0;
  white-space: nowrap;
  font-family: var(--normal-font);
  font-weight: 700;

}
a{
    text-decoration: none;
    color: black;
}
ul,li{
    list-style: none;
}
.navbar{
    padding:30px;
}
.container{
    
}



