*{
    box-sizing: border-box;
}

body{
    margin:0;
}
p{
    margin: 0;
  white-space: nowrap;

}
a{
    text-decoration: none;
    color: black;
}
ul,li{
    list-style: none;
}
.navbar{
    padding:30px;
}
.container{
    
}



