*{
    box-sizing: border-box;
}

body{
    margin:0;
}
p{
    margin: 0;
  white-space: nowrap;

}

.navbar{
    padding:30px;
}
.container{
    
}
/* main */
.main{
    margin-top: 10px;
    width: fit-content;
    margin:auto;
    display: flex;
    margin-bottom: 20px;
    
  }
  


